@model IEnumerable<JavaFlorist.ViewModels.HeroBannerViewModel>

<div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
    <div class="carousel-inner" role="listbox">
        @{
            string imageUrl;
            int count = 0;
        }
        @foreach (var item in Model)
        {
            count++;
            imageUrl = Url.Content("~/img/Banner/" + item.Image);
            <div class="carousel-item rounded @((count == 1) ? "active" : "slide-" + (count - 1))">
                <img src="@imageUrl" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>