@{
    Layout = "_LoginAdmin";
}
@model JavaFlorist.ViewModels.LoginViewModel

@section Scripts{

    @if (!string.IsNullOrEmpty(ViewBag.LoginAdminFalse))
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    title: "LoginFalse",
                    text: "Email or password is wrong",
                    icon: "error",
                    timer: 3500,
                });
            });
        </script>
    }

    @if (!string.IsNullOrEmpty(ViewBag.LoginAdminSuccess))
    {
        <script>$(document).ready(function () {
                Swal.fire({
                    title: "Login Success",
                    text: "Logged in successfully",
                    icon: "success",
                    timer: 3500,
                });
            });</script>
    }
}

<div class="wrapper account-user">
    <div class="inner shadow-sm p-3 mb-5 bg-body rounded">
        <div class="image-holder" style="height:400px">
            <img src="~/account/images/bg-small-account.jpeg" alt="" style="height:100%">
        </div>
        <form asp-action="Login" asp-controller="Manager">
            <h3>Login Manager</h3>
            <div class="form-wrapper">
                <label asp-for="@Model.Email" class="form-label my-1"></label>
                <input asp-for="Email" class="form-control mb-2">
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-wrapper">
                <label asp-for="@Model.Password" class="form-label my-1"></label>
                <input asp-for="Password" class="form-control mb-2">
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <button type="submit">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>


